.test {
    position: absolute;
    right: 0
}

.content{
    display: flex;
    flex-direction: column;
    margin: 24px;
    color: #1D497D;
}

.title-holder{
    margin: 10px 0px 34px;
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: 600;
}

.plan:visited{
    color: #1D497D;
}

.main-info{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
}

.subtitle{
    font-weight: 500;
    font-size: 20px
}

.separator{
    background-color: #1D497D;
    height: 2px;
    margin: 5px 0 0;
}

.row{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    justify-content: space-between;
    margin: 5px 0 0;
    font-size: 20px;
}

.history{
    margin: 10px 0;
    cursor: pointer;
}

.history input{
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
}

.transactions{
    overflow: hidden;

    transition: all 0.5s ease-in-out;
    line-height: 0;
    color: transparent;
}

.history input:checked ~ .transactions{
    line-height: 1.2;
    color: #1D497D;
}

.history input:checked ~ .subtitle-row > .arrow-container{
    transform: none;
}

.subtitle-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow-container{
    display: flex;
    margin-right: 10px;
    transform: rotate(-90deg) translateX(-4px);
    transition: all 0.5s ease-in-out;
}

.arrow{
    position: relative;
    width: 100%;
    height: 100%;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: -3px;
    height: 10px;
    width: 2px;
    background: #1D497D;
}

.arrow::before {
    left: -3px;
    transform: rotate(-45deg);
}

.arrow::after {
    left: 2.75px;
    transform: rotate(45deg);
}